<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .book-item {
            width: 200px;
            /* Cố định chiều rộng */
            height: 280px;
            /* Cố định chiều cao để không bị kéo dài */
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            padding-top: 10px;
            /* Tạo khoảng cách nhỏ ở trên */
        }

        .img-book {
            height: 180px;
            /* Giữ nguyên kích thước hình ảnh */
            width: 130px;
            object-fit: cover;
            margin: auto;
        }

        .truncate {
            max-width: 100%;
            max-height: 100px;
            /* Giới hạn chiều cao tiêu đề */
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            /* Hiển thị tối đa 2 dòng */
            -webkit-box-orient: vertical;
            font-size: 14px;
            /* Giảm kích thước chữ nếu cần */
        }

        .container:hover .book-item {
            opacity: 1;
        }

        /* Hiệu ứng hover từng sách */
        .book-item:hover {
            transform: scale(1.05);
            /* Phóng to hơn khi hover vào từng sách */
        }
    </style>
</head>

<body>
    <div class="container-xxl">
        <div class="row justify-content-center mt-4 gap-4">
            {{#each books}}
                <div class="card p-2 book-item" style="width: 12rem">
                    <a href="/home/book/{{BookID}}" style="text-decoration: none; color:black">
                    <img src="{{ImageURL}}" class="card-img-top img-book">
                    <div class="card-body">
                        <h5 class="card-title truncate">{{Title}}</h5>
                    </div>
                    </a>
                </div>
            {{/each}}
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>